.projects-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-list-container .section-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;
}
