:root {
    --background-color: #f7f7f7;
    --sidebar-background-color: rgb(10, 102, 194);
    --content-section-color: #ffffff;

    --content-section-gap: 0.5em;
}

h1,
h2,
h3,
h4,
a,
p {
    padding: 0em;
    margin: 0.1em;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: var(--text-primary-color);
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

/********************* Global *************************/

header {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    min-height: 3em;
    height: 3em;
    max-height: 3em;
    margin-top: 0.7em;
}

header a,
header p {
    color: var(--header-text-color);
}

body {
    margin: 1em;
    padding: 0px;
    background-color: var(--background-color);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/***************** Sidebar column *********************/

section#sidebar {
    background-color: var(--sidebar-background-color);
    color: var(--background-color);
    margin-bottom: var(--content-section-gap);
    padding: 0.85em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.2em 0.15em rgba(182, 199, 224, 0.295);

    a,
    p,
    h4 {
        color: var(--background-color);
    }

    div.sidebar-item {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }
}

/************** Main content column *******************/

section#main {
    margin-left: var(--content-section-gap);

    section.content-section {
        padding: 0.85em;
        border-radius: 1em;
        margin-bottom: var(--content-section-gap);
        background-color: var(--content-section-color);
        box-shadow: 0.1em 0.1em 0.15em 0.15em rgba(226, 224, 224, 0.295);
        max-width: 50em;

        h2 {
            margin-bottom: -0.375em;
        }

        div div.dates-and-location-column {
            min-width: 8.25em;
            padding-top: 0.2em;
        }

        div.content-item {
            display: flex;
            flex-direction: row;
            margin-top: 0.75em;
        }
    }
}