.card-section {
    display: flex;
    flex-direction: row;
    width: min(90vw, 55em);

    --border-radius: 1em;
    -webkit-border-top-right-radius: var(--border-radius);
    -webkit-border-bottom-right-radius: var(--border-radius);
    -moz-border-radius-topright: var(--border-radius);
    -moz-border-radius-bottomright: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    border-left: 10px solid #0582ca;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: rgb(255, 255, 255);

    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.card-section h1 {
    font-weight: 600;
    font-size: 1.2em;    
}

.card-section .card-section-side {
    width: 10em;
    max-width: 10em;
    min-width: 10em;
    display: flex;
    gap: 0.25em;
    flex-direction: column;
}

.card-section .card-section-side p {
    font-size: 1em;
}

.card-section .card-section-main {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}