.icon-element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.4em;

    --padding: 0.1em;
    padding-bottom: var(--padding);
    padding-top: var(--padding);
}
